services:
  postgres:
    image: postgres:latest
    container_name: pg-spring-proxy
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5446:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - pg-spring-proxy:/var/lib/postgresql/data
volumes:
  pg-spring-proxy: